{{>header}}

<div class="container">

<h1>Login</h1>
<!--<form action='/api/reg_form' method="post" onsubmit="fetchPostJson(this,alert); return false">-->
<!--    Name: <input type="text" name="name" required/>-->
<!--    Email: <input type="email" name="email" required/>-->
<!--    login: <input type="text" name="login" required/>-->
<!--    password: <input type="password" name="password" required/>-->
<!--    <input type="submit" value="Submit"/>-->
<!--</form>-->

    <form action='/api/reg_form' method="post" onsubmit="fetchPostJson(this,alert); return false">
        <div class="form-group">
            <label for="user-name">Your name</label>
            <input required type="text" class="form-control" id="user-name" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="user-email">Email address</label>
            <input required type="email" class="form-control" id="user-email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="user-login">Your login</label>
            <input required type="text" class="form-control" id="user-login" name="login" placeholder="Enter your login">
        </div>
        <div class="form-group">
            <label for="user-passwd">Password</label>
            <input required type="password" class="form-control" id="user-passwd" name="password" placeholder="Password">
        </div>
        <div class="form-check">
            <input required type="checkbox" class="form-check-input" name="accept" id="chkbxAccept">
            <label class="form-check-label" for="chkbxAccept">I have read and agree to the terms and conditions</label>
        </div>
        <button type="submit" class="btn btn-primary" disabled>Submit</button>
    </form>

</div>

{{>footer}}